body{
    
    background-color: white;
    /*rgb(70, 241, 207) aqua */
    /*#323F4E Heading*/
    /*#46505F Text*/
    /*Button background #5DD3B3*/
    /* background-color #2D3741 black*/
    /* background-color #d2faf1 */
    /* background-color for hover #5DD3B3 */
}

.grid-container{
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
    'sidebar header header header'
    'sidebar main main main'
    ;
    height: 100vh;
}