.landpage{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    }
    
    .box1{
        width: 790px;
        height: 820px;
        background-image: url('../../images/certificate2.png');
        position: absolute;
        animation: anim 1.5s forwards, anim2 2s forwards 2s;
        bottom: -100%;
        left: 30%;
    }
    
    .box1::after{
        content:'';
        position: absolute;
        width: 790px;
        height: 820px;
        background-image: url('../../images/certificate.png');
        z-index: -1;
    }
    
    @keyframes anim{
        from{
            bottom: -100%;
        }
        to{
            bottom: 30px;
        }
    }
    @keyframes anim2{
        from{
            left: 30%;
            width: 790px;
        }
        to{
            width: 0;
            left: 650px;
        }
    }
    .box2{
        width: 100%;
        height: auto;
        font-family: 'Core-Heavy';
        color: #323F4E;
        font-size: 8em;
        font-weight: 500;
        line-height: 130px;
        position: absolute;
        top: 150px;
        left: 100px;
        overflow: hidden;
    }
    .landpage-subheading{
        position: relative;
        font-size: 30px;
        left: -100%;
        
        bottom: 30px;
        animation: anim3 1.5s forwards 2.3s; 

    }
    .landpage-text{
        position: relative;
        left: -100%;
        animation: anim3 1.5s forwards 2s; 
    }
    .landpage-text span{
        color: #46f1cf;
    }
    .landpage-btn-container button{
        position: relative;
        left: -100%;
        bottom: 150px;
        font-size: 30px;
        background-color: transparent;
        border: transparent;
        cursor: pointer;
        animation: anim3 1.5s forwards 2.5s; 
        color: white;
        background: linear-gradient(to  right, #29f47a , rgb(70, 241, 207) );
        border-radius: 8px;
        padding: 10px;
    }
    
    .landpage-btn-container button:nth-child(2){
       margin-left: 30px;
    }
    @keyframes anim3{
        from{
            left:-100%;
        }
        to{
            left: 0%;
        }
    }
     @media screen and (max-width:650px) {
        .box2{
            font-size: 3.5em;
            line-height: 85px;
            left: 30px;
        }
        .landpage-text span{
            color: #323F4E;
        }
        .landpage-btn-container button{
            bottom: 50px;
        }
        .landpage-subheading{
            font-size: 20px;
        }

        .box1{
            left: -270px !important;
            background-image: url('../../images/certificate\ phone2.png');

        }
        .box1::after{
            background-image: url('../../images/certificate\ phone.png');

        }
        
        
     }